{
    "openapi": "3.1.0",
    "info": {
      "title": "CirclemindAPI",
      "version": "0.1.0"
    },
    "servers": [
        { "url": "https://api.circlemind.co" }
    ],
    "x-speakeasy-retries": {
        "strategy": "backoff",
        "backoff": {
        "initialInterval": 500,
        "maxInterval": 60000,
        "maxElapsedTime": 3600000,
        "exponent": 1.5
        },
        "statusCodes": [
            "5XX"
        ],
        "retryConnectionErrors": true
    },
    "paths": {
      "/user": {
        "get": {
          "x-speakeasy-ignore": true,
          "summary": "Registered",
          "operationId": "registered_user_get",
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
  
                  }
                }
              }
            }
          }
        },
        "post": {
          "x-speakeasy-ignore": true,
          "summary": "Register",
          "operationId": "register_user_post",
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
  
                  }
                }
              }
            }
          }
        }
      },
      "/user/demo_api_key": {
        "post": {
          "x-speakeasy-ignore": true,
          "summary": "Register With Demo Api Key",
          "operationId": "register_with_demo_api_key_user_demo_api_key_post",
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
  
                  }
                }
              }
            }
          }
        }
      },
      "/graph/{graph_id}/configuration": {
        "get": {
          "summary": "Get Graph Configuration",
          "operationId": "get_graph_configuration_graph__graph_id__configuration_get",
          "x-speakeasy-name-override": "get_configuration",
          "security": [
            {
              "APIKeyHeader": []
            }
          ],
          "parameters": [
            {
              "name": "graph_id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "title": "Graph Id"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ConfigureResponse"
                  }
                }
              }
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          }
        },
        "post": {
          "summary": "Change Graph Configuration",
          "operationId": "post_graph_configuration_graph__graph_id__configuration_post",
          "x-speakeasy-name-override": "configure",
          "security": [
            {
              "APIKeyHeader": []
            }
          ],
          "parameters": [
            {
              "name": "graph_id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "title": "Graph Id"
              }
            },
            {
              "x-speakeasy-ignore": true,
              "name": "increment_usage",
              "in": "query",
              "required": false,
              "schema": {
                "type": "boolean",
                "default": false,
                "title": "Increment Usage"
              }
            },
            {
              "x-speakeasy-ignore": true,
              "name": "demo_allowed",
              "in": "query",
              "required": false,
              "schema": {
                "type": "boolean",
                "default": false,
                "title": "Demo Allowed"
              }
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfigureRequest"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ConfigureResponse"
                  }
                }
              }
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          }
        }
      },
      "/graph": {
        "get": {
          "summary": "List Graphs",
          "operationId": "get_graph_list_graph_get",
          "x-speakeasy-name-override": "list_graphs",
          "security": [
            {
              "APIKeyHeader": []
            }
          ],
          "parameters": [
            {
              "x-speakeasy-ignore": true,
              "name": "graph_id",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string",
                "title": "Graph Id"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
  
                  }
                }
              }
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          }
        }
      },
      "/graph/{graph_id}": {
        "post": {
          "summary": "Create Graph",
          "operationId": "create_graph_graph__graph_id__post",
          "x-speakeasy-name-override": "create_graph",
          "security": [
            {
              "APIKeyHeader": []
            }
          ],
          "parameters": [
            {
              "name": "graph_id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "title": "Graph Id"
              }
            },
            {
              "x-speakeasy-ignore": true,
              "name": "increment_usage",
              "in": "query",
              "required": false,
              "schema": {
                "type": "boolean",
                "default": false,
                "title": "Increment Usage"
              }
            },
            {
              "x-speakeasy-ignore": true,
              "name": "demo_allowed",
              "in": "query",
              "required": false,
              "schema": {
                "type": "boolean",
                "default": false,
                "title": "Demo Allowed"
              }
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfigureRequest"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
  
                  }
                }
              }
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          }
        },
        "get": {
          "summary": "Get Graph",
          "x-speakeasy-ignore": true,
          "operationId": "get_graph_graph__graph_id__get",
          "security": [
            {
              "APIKeyHeader": []
            }
          ],
          "parameters": [
            {
              "name": "graph_id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "title": "Graph Id"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/DownloadGraphResponse"
                  }
                }
              }
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          }
        }
      },
      "/graph/{graph_id}/stats": {
        "get": {
          "summary": "Get Graph Stats",
          "x-speakeasy-ignore": true,
          "operationId": "get_stats_graph__graph_id__stats_get",
          "security": [
            {
              "APIKeyHeader": []
            }
          ],
          "parameters": [
            {
              "name": "graph_id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "title": "Graph Id"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/GraphStatsResponse"
                  }
                }
              }
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          }
        }
      },
      "/graph/{graph_id}/reasoning": {
        "post": {
          "summary": "Start Reasoning",
          "operationId": "post_reasoning_graph__graph_id__reasoning_post",
          "x-speakeasy-name-override": "query",
          "security": [
            {
              "APIKeyHeader": []
            }
          ],
          "parameters": [
            {
              "name": "graph_id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "title": "Graph Id"
              }
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReasoningRequest"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ReasoningResponse"
                  }
                }
              }
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          }
        }
      },
      "/graph/{graph_id}/reasoning/{request_id}": {
        "get": {
          "summary": "Get Reasoning",
          "operationId": "get_reasoning_handler_graph__graph_id__reasoning__request_id__get",
          "x-speakeasy-name-override": "get_reasoning",
          "security": [
            {
              "APIKeyHeader": []
            }
          ],
          "parameters": [
            {
              "name": "graph_id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "title": "Graph Id"
              }
            },
            {
              "name": "request_id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "title": "Request Id"
              }
            },
            {
              "name": "requestTime",
              "in": "query",
              "required": true,
              "schema": {
                "type": "integer",
                "title": "Requesttime"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ReasoningStatusResponse"
                  }
                }
              }
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          }
        }
      },
      "/graph/{graph_id}/memory": {
        "post": {
          "summary": "Post Memory",
          "operationId": "post_memory_graph__graph_id__memory_post",
          "x-speakeasy-name-override": "add",
          "security": [
            {
              "APIKeyHeader": []
            }
          ],
          "parameters": [
            {
              "name": "graph_id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "title": "Graph Id"
              }
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemoryRequest"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/MemoryResponse"
                  }
                }
              }
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "components": {
      "schemas": {
        "ConfigureRequest": {
          "properties": {
            "domain": {
              "type": "string",
              "title": "Domain"
            },
            "exampleQueries": {
              "type": "string",
              "title": "Examplequeries"
            },
            "entityTypes": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "title": "Entitytypes"
            }
          },
          "type": "object",
          "required": [
            "domain",
            "exampleQueries",
            "entityTypes"
          ],
          "title": "ConfigureRequest"
        },
        "ConfigureResponse": {
          "properties": {
            "domain": {
              "type": "string",
              "title": "Domain"
            },
            "exampleQueries": {
              "type": "string",
              "title": "Examplequeries"
            },
            "entityTypes": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "title": "Entitytypes"
            }
          },
          "type": "object",
          "required": [
            "domain",
            "exampleQueries",
            "entityTypes"
          ],
          "title": "ConfigureResponse"
        },
        "DownloadGraphResponse": {
          "properties": {
            "presignedUrl": {
              "type": "string",
              "title": "Presignedurl"
            }
          },
          "type": "object",
          "required": [
            "presignedUrl"
          ],
          "title": "DownloadGraphResponse"
        },
        "GraphStatsResponse": {
          "properties": {
            "chunks": {
              "type": "integer",
              "title": "Chunks"
            },
            "entities": {
              "type": "integer",
              "title": "Entities"
            },
            "triples": {
              "type": "integer",
              "title": "Triples"
            },
            "recentQueries": {
              "items": {
                "$ref": "#/components/schemas/Query"
              },
              "type": "array",
              "title": "Recentqueries"
            }
          },
          "type": "object",
          "required": [
            "chunks",
            "entities",
            "triples",
            "recentQueries"
          ],
          "title": "GraphStatsResponse"
        },
        "HTTPValidationError": {
          "properties": {
            "detail": {
              "items": {
                "$ref": "#/components/schemas/ValidationError"
              },
              "type": "array",
              "title": "Detail"
            }
          },
          "type": "object",
          "title": "HTTPValidationError"
        },
        "MemoryRequest": {
          "properties": {
            "memory": {
              "type": "string",
              "title": "Memory"
            },
            "memoryId": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Memoryid"
            },
            "metadata": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Metadata"
            }
          },
          "type": "object",
          "required": [
            "memory"
          ],
          "title": "MemoryRequest"
        },
        "MemoryResponse": {
          "properties": {
            "memoryId": {
              "type": "string",
              "title": "Memoryid"
            },
            "requestId": {
              "type": "string",
              "title": "Requestid"
            }
          },
          "type": "object",
          "required": [
            "memoryId",
            "requestId"
          ],
          "title": "MemoryResponse"
        },
        "Query": {
          "properties": {
            "id": {
              "type": "string",
              "title": "Id"
            },
            "query": {
              "type": "string",
              "title": "Query"
            },
            "memories": {
              "type": "string",
              "title": "Memories"
            },
            "timestamp": {
              "type": "string",
              "title": "Timestamp"
            },
            "confidence": {
              "type": "string",
              "title": "Confidence"
            }
          },
          "type": "object",
          "required": [
            "id",
            "query",
            "memories",
            "timestamp",
            "confidence"
          ],
          "title": "Query"
        },
        "ReasoningRequest": {
          "properties": {
            "query": {
              "type": "string",
              "title": "Query"
            },
            "parameters": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Parameters"
            }
          },
          "type": "object",
          "required": [
            "query"
          ],
          "title": "ReasoningRequest"
        },
        "ReasoningResponse": {
          "properties": {
            "requestId": {
              "type": "string",
              "title": "Requestid"
            },
            "requestTime": {
              "type": "integer",
              "title": "Requesttime"
            }
          },
          "type": "object",
          "required": [
            "requestId",
            "requestTime"
          ],
          "title": "ReasoningResponse"
        },
        "ReasoningStatusResponse": {
          "properties": {
            "status": {
              "type": "string",
              "title": "Status"
            },
            "memories": {
              "type": "string",
              "title": "Memories"
            },
            "context": {
              "type": "string",
              "title": "Context"
            }
          },
          "type": "object",
          "required": [
            "status",
            "memories",
            "context"
          ],
          "title": "ReasoningStatusResponse"
        },
        "ValidationError": {
          "properties": {
            "loc": {
              "items": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "integer"
                  }
                ]
              },
              "type": "array",
              "title": "Location"
            },
            "msg": {
              "type": "string",
              "title": "Message"
            },
            "type": {
              "type": "string",
              "title": "Error Type"
            }
          },
          "type": "object",
          "required": [
            "loc",
            "msg",
            "type"
          ],
          "title": "ValidationError"
        }
      },
      "securitySchemes": {
        "APIKeyHeader": {
          "type": "apiKey",
          "in": "header",
          "name": "apiKey"
        }
      }
    }
  }